#carouselExampleFade img{
    height:580px;
}
h1{
   color:#44c7e1;
   font-size: 62px;
}
span{
  display: block;
  margin-bottom: 20px;
}
#hospital-intro,#departments,#doctors,#visit-process,#contact{
  margin: auto;
  margin-top: 55px;
  width:1000px;
  text-align: center;
  font-size: 24px;
  color:#70778e;
}
#departments img{
  width:1000px;
}
#contact ul{
  display: flex;
  display: -webkit-flex;
  margin-bottom: 70px;
  list-style: none;
}
#contact ul li{
  width:350px;
  /* margin-right:160px; */
}
#contact ul li img{
  margin-bottom: 20px;
}
#card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  height:530px;
  text-align:center;
  margin-bottom:30px;
  border-radius:15px;
  padding:15px;
  background-color: #dfece3;
}
.card h2{
  color:black;
}
.card h3{
  color:blue;
}
.card h4{
  color:orange;
}
.card .card-img-top{
  width:200px;
  height:210px;
  margin:auto;
}
.card .card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size:20px;
}
#process-list{
  text-align: left;
}
.list-group-item{
  background-color: #dfece3;
}
.foot{
  padding-top: 60px;
  height: 380px;
  text-align: center;
  background-color: #44c7e1;
  font-size: 20px;
  color: white;
}